.mouseOverContent {
    position: absolute;
    width: 270px;
    background: #bdd4f9;
    padding: 3px;
    pointer-events: none;
    text-align: center;
    font: 14px sans-serif;
    height: 50px;
    border-radius: 4px;
    border: 0px;
}